* {
    margin: 0;
    padding: 0;
}

#city-pointer-main {
    display: flex;
    flex-direction: row;
}

#container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;

}

body {
    background: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.term-svg {
    width: 200px;
    // margin: 8.5px;
}

.scobs-svg {
    margin: 0 8.5px;
}

.topterminal-img {
    width: 100px;
}

.bottomterminal-img {
    width: 100px;
}

